<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
  

    <p>
      Hello! My name is Angeline Neo and I am passionate about <strong>creating pleasant user experience on digital products. </strong>
      I am currently taking Ms in Human-Computer Interaction at Iowa State University. 
      My educational background includes one year of architecture and a Bachelor's Degree in Graphic Design. 
      With my experience, I learned how to apply design systems and research as part of my design process. 

      I'm a <strong>skilled visual designer with an eye for graphics, typography, and color. </strong>I also enjoy doing user research to create
       user-center designs on digital products. 
      
​
    </p>

    <p>
      <strong>MY VALUES</strong> 
      BE CURIOUS
      <li>Being curious makes me seek out different perspectives. 
       Whenever I am curious about something, I ask questions or use Google, my best friend, to get answers. </li>

       LISTEN TO OTHERS
       <li>Listening to people's feedback helps me grow and improve faster. 
       I prefer to listen first before expressing my own opinions. </li>

       ALWAYS BE LEARNING 
       <li> am always looking for ways to improve myself, which is I like to attend meetups, 
       join Digital Women clubs on campus, and watch educational videos on Youtube. </li>  

       EMBRACE MY CREATIVITY
       <li>Aside from being creative in UI design, I enjoy singing and playing the piano. 
     I also enjoy creating flat illustrations using Adobe Illustrator (https://www.behance.net/angelineneo?isa0=1) </li>

    </li>
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>

<div class="section__title">Values</div>
