<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
  

    <p>
      My name is Angeline and I am passionate about creating pleasant user experience on digital products. 
      I am currently taking Ms in Human-Computer Interaction at Iowa State University. 
      My educational background includes one year of architecture and a Bachelor's Degree in Graphic Design. 
      With my experience, I learned how to apply design systems and research as part of my design process. 

      I'm a skilled visual designer with an eye for graphics, typography, and color. I also enjoy doing user research to create
       user-center designs and provide solutions to problems. 
      
​
    </p>

    <p>
      <strong>MY arglairgnrlgS</strong> 
      <li>Be curious
       Being curious makes me seek out different perspectives. 
       Whenever I am curious about something, I ask questions or use Google, my best friend, to get answers. 

       Listen to others
       Listening to people's feedback helps me grow and improve faster. 
       I prefer to listen first before expressing my own opinions. 

       Always be learning 
       I am always looking for ways to improve myself, which is I like to attend meetups, 
       join Digital Women clubs on campus, and watch educational videos on Youtube.  

       Embrace my creativity 
     Aside from being creative in UI design, I enjoy singing and playing the piano. 
     I also enjoy creating flat illustrations using Adobe Illustrator

    </li>
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
